<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boolfix</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="root">
    <div class="wrapper">
      <header>
        <div class="logo">
          <img src="img/boolfix-logo.png" alt="logo">
        </div>

        <div class="searchbar">
          <input @keyup.enter="searchMoviesAndShows" type="text" name="" v-model="userSearchInput">

          <div @click="searchMoviesAndShows" class="search-btn">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </header>

      <main>
        <h2 v-if="searchResultMovie.length > 0">Movies results</h2>

        <div class="movie-search-result-box">
          <div v-for="item in searchResultMovie" class="film-box">
            <div class="poster">
              <img :src="'https://image.tmdb.org/t/p/w342/' + item.poster_path" alt="">
            </div>
            <h3>{{item.title}}</h3>

            <h4>{{item.original_title}}</h4>

            <div class="language">
              <img :src="'img/flags/' + item.original_language + '.png'" :alt="item.original_language">
            </div>

            <div class="vote">
              <div v-for="n in voteToStars(item.vote_average)" class="">
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>

              <div v-for="n in (5 - voteToStars(item.vote_average))" class="">
                <i class="far fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

        <h2 v-if="searchResultShows.length > 0">TV shows results</h2>

        <div class="shows-search-result-box">
          <div v-for="item in searchResultShows" class="film-box">
            <div class="poster">
              <img :src="'https://image.tmdb.org/t/p/w342/' + item.poster_path" alt="">
            </div>

            <h3>{{item.name}}</h3>

            <h4>{{item.original_name}}</h4>

            <div class="language">
              <img :src="'img/flags/' + item.original_language + '.png'" :alt="item.original_language">
            </div>

            <div class="vote">
              <div v-for="n in voteToStars(item.vote_average)" class="">
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>

              <div v-for="n in (5 - voteToStars(item.vote_average))" class="">
                <i class="far fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
